body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

.header {
  height: 60px;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  margin: 15px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.header div {
  display: flex;
}

.github-icon {
  width: 30px;
  display: flex;
  margin: 15px;
}

.x-icon {
  width: 30px;
  display: flex;
  margin: 15px;
}

.content {
  margin: 40px;
}

.contact {
  margin-top: 20px;
}

.button {
  background-color: rgb(79, 88, 211);
  color: #fff;
  width: 130px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.button.big {
  width: 150px;
  height: 40px;
}

.titles {
  display: flex;
  align-items: center;
}

.titles h1 {
  margin-right: 15px;
}

.pointer_cursor {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .titles {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .titles h1 {
    margin-bottom: 5px;
  }
}